{% extends 'index.html' %}

{% block content %}

<table>
  <thead>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>

  </tr>
  </thead>
  <tbody>
    {% for i in data %}
      <tr>
        {% if i.first_name %}
          <td>{{i.first_name | upper}}</td>
          <td>{{i.second_name}}</td>
        <td><button><a href="{% url 'detail' i.id %}">detail</a></button></td>
        <td><button><a href="{% url 'update' i.id %}">update</a></button></td>
        <td><button><a href="{% url 'delete' i.id %}">delete</a></button></td>

        {% else %}
          <td>"data not there please"</td>
        {% endif%}
  </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}

